@model IEnumerable<Forum_light.Models.Comment>
@{
    Layout = null;
}

<h3>Comments</h3>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item list-group-item-secondary">
            @item.Content
        </li>
    }

</ul>